/bin
/obj
/Library
/Temp
UnityVS.*
*.unitypackage
/readme_assets
/Dotfuscated
/Assets/UnityVS
/JustLogicBuildTest/Assets/UnityVS
/JustLogicBuildTest/Library
/JustLogicBuildTest/obj
/JustLogicBuildTest/bin
/JustLogicBuildTest/Temp
*.apk
/AotTest
/APIDocs/Help
/*fuscator.xml
/deployscript/ILMerge.*
/deployscript/zip.exe
/deployscript/obj
/deployscript/bin
/deployscript/UnityEditor.dll
/deployscript/UnityEngine.dll
*.DotSettings
BatchDeployGoTrial.bat
BatchMakeEncryptedRar.BAT
BatchDeployGoNormal.bat
Tutorials/
*.suo
*.user
Assembly-CSharp*.csproj
/JustLogic-csharp.sln
BatchDeployEnd.bat
/justlogic_readme_rus.doc
*.metaproj*